<header>
  <h1 title="Cloud Refresh icon designed by Adam Whitcroft from The Noun Project">Splashbox</h1>
</header>

<section>
  <article>
    <h2><span class="name">Waitlist,</span> <%= User.waiting.count %> <%= User.waiting.count == 1 ? "person" : "people" %></h2>
    <li class="example">First name • Dropbox ID</li>
    <ul class="waitlist">
      <% User.waiting.sort_by(&:created_at).each do |user| %>
        <%= content_tag :li, "#{ user.name.split(' ', 2)[0] } • #{ user.dropbox_uid }" %>
      <% end %>
    </ul>
    <span id="back-wrapper">
      <a id="back" href=<%= root_url %>>Back</a>
    </span>
    <div id="waitlist-social" class="social">
      <iframe id="github" src="http://ghbtns.com/github-btn.html?user=hopkinschris&repo=splashbox&type=watch&count=false"
        allowtransparency="true" frameborder="0" scrolling="0" width="112" height="30"></iframe>
      <a href="https://twitter.com/hopkinschris" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false" data-url="http://splashboxapp.com">Follow @hopkinschris</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Splashbox • Hi-resolution photos delivered to your Dropbox" data-count="none" data-via="hopkinschris">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </article>
</section>

<a href="https://github.com/hopkinschris/splashbox"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("h2").fitText(1.2, { maxFontSize: '32px' });
    });
  </script>
<% end %>
