<header>
  <div class="container">
    <div class="row">
      <div class="column full">
        <div class="overlay animated pulse"></div>
        <article class="animated fadeIn">
          <h1 id="logo" class="beta">Splashbox</h1>
          <p>Hi-resolution photos delivered to your Dropbox</p>
          <a class="button" href="https://www.dropbox.com/home/Apps/Splashbox"><button class="purple">View Photos &rarr;</button></a>
        </article>
      </div>
    </div>
  </div>
</header>

<section id="stats">
  <div class="container">
    <div class="row">
      <div class="column full">
        <h3 class="animated fadeInUpBig"><span class="dropbox-photo-count count odometer" data-count="<%= @dropbox_photo_count %>"></span> hi-resolution photos have been added to your Dropbox</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column half">
        <h2>Support The Project.</h2>
        <p>If you enjoy Splashbox, please consider making a donation to the project. This will help me cover server costs and continued improvements to the service.</p>
        <a class="button" href="https://gum.co/splashbox"><button class="purple">Donate &rarr;</button></a>
        <br></br>
        <p>Or <a href="https://coinbase.com/checkouts/512ca7f59a97a4688539e7debc7fe524">pitch in some Bitcoin</a>.</p>
      </div>
      <div class="column half animated fadeIn">
        <%= image_tag 'pig.svg', width: '213', height: '185' %>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="column full">
        <ul>
          <li><a href="https://gum.co/splashbox">Donate</a></li>
          <li><a href="https://github.com/hopkinschris/splashbox">Github</a></li>
          <li><a href="http://twitter.com/hopkinschris">@hopkinschris</a></li>
        </ul>
        <p class="animated fadeInUp">Powered by<a href="http://dropbox.com"><%= image_tag 'dropbox-logo.svg', width: '150', height: '42' %></a></p>
      </div>
    </div>
  </div>
</footer>
