<header>
  <div class="container">
    <div class="row">
      <div class="column full">
        <div class="overlay animated pulse"></div>
        <article class="animated fadeIn">
          <h1 id="logo" class="beta">Splashbox</h1>
          <p>Hi-resolution photos delivered to your Dropbox</p>
          <a href="<%= auth_url %>"><button class="purple">Authorize with Dropbox</button></a>
        </article>
      </div>
    </div>
  </div>
</header>

<section id="stats" class="animated fadeInUpBig">
  <div class="container">
    <div class="row">
      <div class="column full">
        <h3><span class="user count">327,237</span> photos delivered to over <span class="photo count">1,124</span> Dropbox accounts</h3>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="column half"></div>
  <div class="column half"></div>
</div>

<div class="row">
  <div class="column one-third"></div>
  <div class="column one-third"></div>
  <div class="column one-third"></div>
</div>

<div class="row">
  <div class="column one-fourth"></div>
  <div class="column one-fourth"></div>
  <div class="column one-fourth"></div>
  <div class="column one-fourth"></div>
</div>
