.overlay
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 1
  background-image: image-url('bg.jpg')
  background-size: cover
  &:after
    content: ''
    display: block
    width: 100%
    height: 100%
    background-image: -o-linear-gradient(-135deg, #7ed3fb 0%, #8e75e6 100%)
    background-image: -moz-linear-gradient(-135deg, #7ed3fb 0%, #8e75e6 100%)
    background-image: -webkit-linear-gradient(-135deg, #7ed3fb 0%, #8e75e6 100%)
    background-image: -ms-linear-gradient(-135deg, #7ed3fb 0%, #8e75e6 100%)
    background-image: linear,-225deg,#7ed3fb 0%,#8e75e6 100%
    opacity: 0.75

button
  display: block
  letter-spacing: 1px
  font-family: 'Proxima Nova Light', Helvetica Neue, Helvetica, Arial, sans-serif
  font-size: 1rem
  font-weight: normal
  line-height: 1.7em
  text-align: center
  outline: none!important
  -webkit-appearance: none
  &.purple
    color: white
    border-radius: 24px
    border: none
    display: inline-block
    height: 48px
    padding: 0 1.5rem
    text-decoration: none
    background: #8e75e6
    background-clip: padding-box
    -webkit-transition: all 0.2s ease-in-out
    -moz-transition: all 0.2s ease-in-out
    transition: all 0.2s ease-in-out
    &:hover
      background: #a289fa

.count
  color: #8e75e6
  vertical-align: middle

a.button
  border: none!important

.flash
  color: #333
  text-align: center
  #message
    padding: 2%

.testimonial
  min-height: 216px

.grid-gallery
  .slideshow
    nav
      display: none
    figure
      img
        max-height: 372px
    figcaption
      p
        display: inline-block
        a
          border-bottom: 2px solid rgba(142,117,230,0.5)
          &:hover
            border-color: rgba(142,117,230,1)
      .color-block
        float: right
        display: inline-block
        width: 50px
        height: 50px

.seen
  list-style: none
  text-align: center
  padding: 0
  li
    display: inline-block
    margin: 0 1.4%
    vertical-align: middle
    a
      display: block
      margin: 1em 0
      border-bottom: none!important

    #unsplash
      background: image-url('seen/unsplash.png')
      background-size: 110px 25px
      width: 110px
      height: 25px
    #product-hunt
      background: image-url('seen/product-hunt.png')
      background-size: 120px 22px
      width: 120px
      height: 22px
      opacity: 0.7
    #wefunction
      background: image-url('seen/wefunction.png')
      background-size: 80px 20px
      width: 80px
      height: 20px
    #charged
      background: image-url('seen/charged.png')
      background-size: 90px 31px
      width: 90px
      height: 31px
    #uniiverse
      background: image-url('seen/uniiverse.png')
      background-size: 100px 18px
      width: 100px
      height: 18px
    #bianca-board
      background: image-url('seen/bianca-board.png')
      background-size: 120px 17px
      width: 120px
      height: 17px
      opacity: 0.6
    #site-report-builder
      background: image-url('seen/site-report-builder.png')
      background-size: 120px 20px
      width: 120px
      height: 20px
      opacity: 0.8
