html {
  background: url("http://res.cloudinary.com/hhsqdz7qy/image/upload/v1379194105/exr5vm1gkw2x7zohmscc.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  body {
    header {
      margin-top: 10%;
      h1 {
        background: asset-url("logo.png") no-repeat;
        background-size: 113px 113px;
        width: 113px;
        height: 113px;
        text-indent: -9999px;
        margin: 0 auto;
      }
    }
    section {
      article {
        h2 {
          font: 2rem "proxima_novalight",'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-weight: normal;
          letter-spacing: 1px;
          &.blue {
            color: #289AD8;
          }
          &#tagline {
            max-width: 50%;
            margin: 0.83em auto;
          }
          #name {
            font-family: "proxima_novasemibold",'Helvetica Neue', Helvetica, Arial, sans-serif;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
        p {
          max-width: 60%;
          margin: 0 auto;
          line-height: 1.4rem;
          a {
            text-decoration: none;
            color: inherit;
            &:hover {
              border-bottom: 1px solid;
            }
          }
        }
        #blog-post,
        #repo {
          font-family: "proxima_novasemibold",'Helvetica Neue', Helvetica, Arial, sans-serif;
          line-height: 3rem;
          text-decoration: none;
          color: inherit;
          -webkit-text-size-adjust: none;
          &:hover {
            border-bottom: 1px solid;
          }
        }
        .social {
          width: 236px;
          margin: 2rem auto;
          text-align: center;
          .hn-button {
            margin-right: 4px;
          }
          #github {
            float: left;
            width: 50px!important;
          }
          .twitter-follow-button {
            float: right;
          }
        }
      }
    }
    footer {
      position: fixed;
      left: 0px;
      bottom: 0px;
      height: 5%;
      width: 100%;
      font: 0.8rem "proxima_nova_rgregular",'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-align: center;
      letter-spacing: 1px;
      #photo-count {
        font-family: "proxima_novasemibold",'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          border-bottom: 1px solid;
        }
      }
    }
  }
}
