html {
  background: url("http://res.cloudinary.com/hhsqdz7qy/image/upload/v1379194105/exr5vm1gkw2x7zohmscc.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  body {
    header {
      margin-top: 10%;
      h1 {
        background: asset-url("logo.png") no-repeat;
        background-size: 113px 113px;
        width: 113px;
        height: 113px;
        text-indent: -9999px;
        margin: 0 auto;
      }
    }
    section {
      article {
        h2 {
          font: 2rem "proxima_novalight",'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-weight: normal;
          letter-spacing: 1px;
          &.blue {
            color: #289AD8;
          }
          &#tagline {
            max-width: 50%;
            margin: 0.83em auto;
          }
          .name {
            font-family: "proxima_novasemibold",'Helvetica Neue', Helvetica, Arial, sans-serif;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
        p {
          max-width: 60%;
          margin: 0 auto;
          line-height: 1.4rem;
          a {
            text-decoration: none;
            color: inherit;
            &:hover {
              border-bottom: 1px solid;
            }
          }
        }
        #blog-post,
        #repo,
        #waitlist-link,
        #back {
          font-family: "proxima_novasemibold",'Helvetica Neue', Helvetica, Arial, sans-serif;
          line-height: 3rem;
          text-decoration: none;
          color: inherit;
          -webkit-text-size-adjust: none;
          &:hover {
            border-bottom: 1px solid;
          }
        }
        #back-wrapper {
          display: block;
        }
        .social {
          width: 182px;
          margin: 2rem auto;
          text-align: center;
          #github {
            float: left;
            width: 50px!important;
          }
          .twitter-follow-button {
            float: right;
          }
          &#waitlist-social {
            margin: 0 auto;
          }
        }
        .waitlist {
          position: relative;
          display: inline-block;
          list-style: none;
          margin: 0 auto;
          padding: 0;
          max-height: 250px;
          overflow-y: scroll;
          li {
            line-height: 1.4rem;
            &:first-child {
              &:before {
                content: "→";
                color: #289AD8;
                margin: 0 1rem;
              }
              &:after {
                content: "←";
                color: #289AD8;
                margin: 0 1rem;
              }
            }
          }
        }
        .example {
          list-style: none;
          font-family: "proxima_novasemibold",'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #289AD8;
          margin: 1rem;
          padding: 0;
        }
      }
    }
    footer {
      position: fixed;
      z-index: 1;
      left: 0px;
      bottom: 0px;
      height: 5%;
      width: 100%;
      color: #FFF;
      text-shadow: 0px -1px #185D82;
      font: 0.8rem "proxima_nova_rgregular",'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-align: center;
      letter-spacing: 1px;
      #photo-count {
        color: #53AEE0;
        font-family: "proxima_novasemibold",'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          border-bottom: 1px solid;
        }
      }
    }
  }
}

// Waitlist (Don't show donation module)
.home-index #donation { display: none; }

// Custom scrollbar
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
