header
  position: relative
  height: 38em
  overflow: hidden
  article
    position: relative
    text-align: center
    max-width: 50em
    margin: 0 auto
    padding: 15% 0
    z-index: 1
    h1, p
      color: white
    button
      margin: 15% 0

section
  padding: 58px 0
  color: #333333
  .count
    color: #8e75e6
