@include media(min-width 320px max-width 480px) {
  h1 {
    background: asset-url("logo@2x.png");
  }
  #tagline,
  .plea {
    max-width: 75%!important;
  }
  .care-of {
    display: none;
  }
  .waitlist {
    max-height: 125px!important;
  }
  .github-ribbon {
    display: none;
  }
  #donation p {
    top: 17%;
    line-height: 1.3rem;
  }
}

@include media(min-width 321px max-width 768px) {
  .care-of {
    display: none;
  }
}

// iPhone portrait
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait) {
  #donation {
    height: 35px;
    span {
      display: none;
    }
  }
}

// iPhone landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: landscape) {
  #donation {
    height: 35px;
    span {
      display: none;
    }
  }
}

// iPad portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .care-of {
    display: block;
  }
}
