h1
  font-family: 'Proxima Nova Light', Helvetica Neue, Helvetica, Arial, sans-serif
  font-size: 3em
  font-weight: normal
  line-height: 1.5em

h3
  font-family: 'Proxima Nova Regular', Helvetica Neue, Helvetica, Arial, sans-serif
  font-size: 1.5em
  font-weight: normal
  line-height: 1.5em

p
  font-family: 'Proxima Nova Regular', Helvetica Neue, Helvetica, Arial, sans-serif
  font-size: 1.3em
  font-weight: normal
  line-height: 1.5em
