<div id="donation">
  <p><span>If you enjoy Splashbox, please consider making a one-time donation of $2.</span></p>
  <p><span>This helps me cover server costs and continued improvements to the service.</span></p>
  <p>
    <a href="https://gumroad.com/l/DAmj">Donate via Gumroad</a>
    <span> or </span>
    <a data-code="2a248182bd800b210d54bcdc13b07dd0" href="https://coinbase.com/checkouts/2a248182bd800b210d54bcdc13b07dd0">Donate Bitcoins</a>
    <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
  </p>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#donation').addClass('animated fadeInUp');
  });
</script>
