<div class="sublist-panel" style="display:none;">
  <div class=" s-header">
    <div class="s-h3">Version 2.0</div>
    <div class="s-a close">&times;</div>
  </div>
  <div class="s-article">
    <ul>
      <li>
        <p>Color Palettes</p>
        <p>A color palette is now generated for every photo delivered to your Dropbox. You can view them through your dashboard.</p>
      </li>
      <li>
        <p>Donations <span id="stripe-outline"></span></p>
        <p>I've added the ability to make a $1 monthly donation through your dashboard.</p>
      </li>
    </ul>
  </div>
</div>
