<section class="no-border" id="stats">
  <div class="container">
    <div class="row">
      <div class="column full">
        <h3 class="animated fadeInUpBig"><span class="dropbox-photo-count count odometer" data-count="<%= @photos.count %>"></span> hi-resolution photos have been added to your Dropbox</h3>
      </div>
    </div>
  </div>
</section>
