<section>
  <div class="container">
    <div class="row">
      <div class="column full">
        <ul class="seen animated fadeInDownBig">
          <li><a id="unsplash" href="http://365.unsplash.com" title="Unsplash"></a></li>
          <li><a id="product-hunt" href="http://www.producthunt.com/posts/splashbox" title="ProductHunt"></a></li>
          <li><a id="wefunction" href="http://wefunction.com/8-unique-places-to-find-quality-free-photos" title="WeFunction"></a></li>
          <li><a id="charged" href="http://us8.campaign-archive2.com/?u=7ba9643cb80dac69c6818848c&id=d7df6165a7" title="Charged"></a></li>
          <li><a id="uniiverse" href="http://blog.uniiverse.com/2014/07/31/3-simple-tips-design-eye-catching-event-flyer" title="Uniiverse"></a></li>
          <li><a id="bianca-board" href="http://blog.web123partners.com.au/blog/9-free-non-stock-photos-sites.aspx" title="BiancaBoard"></a></li>
          <li><a id="site-report-builder" href="http://www.sitebuilderreport.com/blog/where-the-best-designers-go-to-find-photos-and-graphics" title="SiteReportBuilder"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
