<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="column full">
        <ul id="avatars">
          <li class="avatar active animated fadeIn" data-avatar="0">
            <%= image_tag 'avatar-1.png', width: '85', height: '85' %>
            <div class="bio">
              <p>Luke Chesser</p>
              <p>Product Designer, Crew Labs</p>
            </div>
          </li>
          <li class="avatar animated fadeIn" data-avatar="1">
            <%= image_tag 'avatar-2.png', width: '85', height: '85' %>
            <div class="bio">
              <p>Pete Heslop</p>
              <p>Director, BrightByte Studio</p>
            </div>
          </li>
          <li class="avatar animated fadeIn" data-avatar="2">
            <%= image_tag 'avatar-3.png', width: '85', height: '85' %>
            <div class="bio">
              <p>Matthew Smith</p>
              <p>Entrepreneur &amp; Designer</p>
            </div>
          </li>
          <li class="avatar animated fadeIn" data-avatar="3">
            <%= image_tag 'avatar-4.png', width: '85', height: '85' %>
            <div class="bio">
              <p>Owen Williams</p>
              <p>Journalist &amp; Developer</p>
            </div>
          </li>
        </ul>

        <h3 class="testimonial active animated fadeIn">I use Splashbox to store Unsplash photos locally. It makes it so easy to find and drop photos into any design. Splashbox also saves me a ton of time and gives me constant access to high-res photos, regardless of an internet connection.</h3>
        <h3 class="testimonial animated fadeIn">Splashbox allows us, as a small agency to deliver high quality stock images every time. We no longer have to search through fake, forced and expensive photography, we now have them delivered to our Dropbox. The seamless and simple integration with Dropbox means we never have to think again about our source of imagery.</h3>
        <h3 class="testimonial animated fadeIn">Splashbox has become a part of the innovative internet. Photographers get known and I get hundreds of visually interesting non-stock high-res photos at my disposal whenever I need them. Bonus.</h3>
        <h3 class="testimonial animated fadeIn">Splashbox delivers you the most beautiful wallpapers you can find online straight into your Dropbox. I dig having hundreds of wallpapers that automatically change on my Mac so I don't see the same thing every day, plus you can use them quickly when you need something for a project! I'll never go back.</h3>
      </div>
    </div>
  </div>
</section>
