<section id="stats">
  <div class="container">
    <div class="row">
      <div class="column full">
        <h3 class="animated fadeInUpBig"><span class="waitlist-count count odometer" data-count="<%= @waiters.count %>"></span> users on the waitlist</h3>
      </div>
    </div>
  </div>
</section>
