<section>
  <div class="container">
    <div class="row">
      <div class="column half">
        <h2>Waitlist.</h2>
        <p>I try my best to activate a handful of accounts each day.</p>
        <% if @user.present? %>
          <p>Psst...If waitlists aren't your thing, please consider making a $1 monthly donation. Project supporters will receive special treatment and skip the line!</p>
        <% else %>
          <p>Psst...If waitlists aren't your thing, please consider making a $1 monthly donation to the project through your <a href="<%= dashboard_path %>">dashboard</a>. Project supporters will receive special treatment and skip the line!</p>
        <% end %>
        <%= waitlist_primary_button %>
      </div>
      <div class="column half animated fadeIn">
        <%= image_tag 'stripe.svg', width: '165', height: '300' %>
      </div>
    </div>
  </div>
</section>
