<section>
  <div class="container">
    <div class="row">
      <div class="column half">
        <h2>Waitlist.</h2>
        <p>Your account should be activated shortly.</p>
      </div>
      <div class="column half animated fadeIn">
        <%= image_tag 'watch.svg', width: '295', height: '231' %>
      </div>
    </div>
  </div>
</section>
